In [2]:
import numpy as np
import pandas as pd

from scipy.optimize import minimize
import matplotlib.pyplot as plt
import os
import seaborn as sns
from datetime import datetime

In [6]:
print('The current working directory is {}'.format(os.getcwd()))

The current working directory is /Users/ameyapatankar/Desktop/Git/ML in Finance

In [7]:
df = pd.read_csv('AAPL.csv')

In [27]:
df['Date']= pd.to_datetime(df.Date)

In [28]:
df.head()

        Date        Open       Close        High         Low    Volume
0 2016-01-04  102.610001  105.349998  105.370003  102.000000  67649400
1 2016-01-05  105.750000  102.709999  105.849998  102.410004  55791000
2 2016-01-06  100.559998  100.699997  102.370003   99.870003  68457400
3 2016-01-07   98.680000   96.449997  100.129997   96.430000  81094400
4 2016-01-08   98.550003   96.959999   99.110001   96.760002  70798000

In [29]:
ff = pd.read_csv('FF.csv')

In [30]:
ff['Date'] = ff['Date'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m%d'))

In [31]:
ff.head()

        Date  Mkt-RF   SMB   HML     RF
0 1926-07-01    0.10 -0.24 -0.28  0.009
1 1926-07-02    0.45 -0.32 -0.08  0.009
2 1926-07-06    0.17  0.27 -0.35  0.009
3 1926-07-07    0.09 -0.59  0.03  0.009
4 1926-07-08    0.21 -0.36  0.15  0.009

In [32]:
df2 = pd.merge(df, ff, on='Date')

In [33]:
df2.head()

,Date,Open,Close,High,Low,Volume,Mkt-RF,SMB,HML,RF
0,2016-01-04,102.610001,105.349998,105.370003,102.000000,67649400,-1.59,-0.83,0.53,0.0
1,2016-01-05,105.750000,102.709999,105.849998,102.410004,55791000,0.12,-0.22,0.01,0.0
2,2016-01-06,100.559998,100.699997,102.370003,99.870003,68457400,-1.35,-0.12,-0.01,0.0
3,2016-01-07,98.680000,96.449997,100.129997,96.430000,81094400,-2.44,-0.29,0.08,0.0
4,2016-01-08,98.550003,96.959999,99.110001,96.760002,70798000,-1.11,-0.47,-0.03,0.0

In [34]:
factors = pd.read_excel('MACRO_FACTOR.xlsx')